# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.backup
.env.production
package-lock.json

src/app/router.tsx
src/app/routes/app/admin/educations.tsx
src/app/routes/app/admin/financial-reports.tsx
src/app/routes/app/admin/recipients.tsx
src/components/ui/partials/navbar/auth-nav.tsx
src/features/educations/api/create-education.ts
src/features/educations/api/delete-educations.ts
src/features/educations/api/get-education.ts
src/features/educations/api/update-education.ts
src/features/educations/components/create-education-form.tsx
src/features/educations/components/delete-education.tsx
src/features/educations/components/educations-list-table.tsx
src/features/educations/components/update-education.tsx
src/features/financial-reports/api/create-financial-report.ts
src/features/financial-reports/api/delete-financial-reports.ts
src/features/financial-reports/api/get-financial-report.ts
src/features/financial-reports/api/get-financial-reports.ts
src/features/financial-reports/components/create-financial-report-form.tsx
src/features/financial-reports/components/delete-financial-report.tsx
src/features/financial-reports/components/financial-reports-list-table.tsx
src/features/recipients/api/delete-recipients.ts
src/features/recipients/api/get-recipients.ts
src/features/recipients/components/create-recipient-form.tsx
src/features/recipients/components/delete-recipient.tsx
src/features/recipients/components/recipients-list-table.tsx
src/types/api.ts
.gitignore
