@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --secondary-color-100: #fff5eb;
    --secondary-color-200: #ffe9d7;
    --secondary-color-300: #ffdac4;
    --secondary-color-400: #ffccb5;
    --secondary-color-500: #ffb59d;
    --secondary-color-600: #db8472;
    --secondary-color-700: #b7594f;
    --secondary-color-800: #933532;
    --secondary-color-900: #7a1e21;

    --primary-color-100: #e7faf5;
    --primary-color-200: #d1f5ef;
    --primary-color-300: #b1e3df;
    --primary-color-400: #90c7c7;
    --primary-color-500: #679ea3;
    --primary-color-600: #4b818c;
    --primary-color-700: #336575;
    --primary-color-800: #204a5e;
    --primary-color-900: #13364e;

    --info-color-100: #ccf6ff;
    --info-color-200: #99e8ff;
    --info-color-300: #66d3ff;
    --info-color-400: #3fbDff;
    --info-color-500: #0099ff;
    --info-color-600: #0076db;
    --info-color-700: #0058b7;
    --info-color-800: #003e93;
    --info-color-900: #002c7a;

    --success-color-100: #f0fce1;
    --success-color-200: #dffac4;
    --success-color-300: #c4f2a3;
    --success-color-400: #a9e688;
    --success-color-500: #83d662;
    --success-color-600: #5fb847;
    --success-color-700: #409a31;
    --success-color-800: #267c1f;
    --success-color-900: #136612;

    --warning-color-100: #fefad2;
    --warning-color-200: #fef5a5;
    --warning-color-300: #fced78;
    --warning-color-400: #fae456;
    --warning-color-500: #f7d720;
    --warning-color-600: #d4b517;
    --warning-color-700: #b19410;
    --warning-color-800: #8f750a;
    --warning-color-900: #765e06;

    --danger-color-100: #ffece0;
    --danger-color-200: #ffd4c1;
    --danger-color-300: #ffb6a3;
    --danger-color-400: #ff9b8c;
    --danger-color-500: #ff6d66;
    --danger-color-600: #db4a50;
    --danger-color-700: #b73343;
    --danger-color-800: #932038;
    --danger-color-900: #7a1331;
  }
}
